.linkMobileModal {

  .link__mobile-btn {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 157%;
    color: var(--text-color);

    &:hover {
      transform: scale(1.1);
      text-decoration: underline;
    }
  }

  .modal__links {
    display: grid;
    justify-content: center;

    opacity: 90%;
    width: 120px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: -10px 14px 16px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    margin-bottom: 10px;

    a {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18px;
      line-height: 157%;
      color: #333;
      padding: 5px 10px;

      &:hover {
        background-color: #717171;
        border-radius: 5px;
        text-decoration: underline;
      }
    }
  }
}