.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007BFF;
  padding: 30px;
  gap: 10px;

  .copyright {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 157%;
    color: var(--text-color);
    //border-right: 2px solid var(--text-color);
  }

  @media screen and (max-width: 360px){
    & {
      flex-direction: column;
    }
  }
}