.card {
  //max-width: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 90px 90px 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: translate 0.2s  ease-in, box-shadow 0.3s ease-in;

  img {
    padding-bottom: 5px;
  }

  .outline {
    padding: 5px;
    text-align: center;
    transform: none;
    .title {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 1.25rem;

    }

    .descript {
      font-family: var(--font-family);
      font-weight: 500;
    }
  }

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.6);
    translate: 0 -5px;
    box-shadow: 0 14px 15px 5px rgba(0, 0, 0, 0.4);

  }

  &:not(:hover) {
    filter: grayscale(90%);
    opacity: .5;
  }
}

